*{
  transition: all .5s ease-in;
}
body{
	min-width: 1200px;
 	font-family: "Raleway", sans-serif;
	color:  #262626;
}
.head{
	height:950px;
	width: 100%;
	background: url(..//img/header_img.jpg) 50% no-repeat;
	background-size: cover;
}
.nav{
	position: fixed;
  z-index: 2;
	width: 100%;
	min-width: 1200px;
	height: 130px;
	background-color: rgba(127,255,212,0.5);
}
.fixed-box{
  max-width: 1500px;
  margin: 0 auto;
}
.nav__cahee{
	display: inline-block;
	font-family: "Pacifico";
	font-size: 50px;
	font-weight: 400;
	margin: 20px 10%;
}
.head__nav{
	float: right;
}
.head__nav--li{
	display: inline-block;
	margin: 35px 25px 0 0;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	line-height: 32px;
}

/*Hover Effect for NAV*/
.head__nav--li {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.head__nav--li:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  top: 0;
  background: #ff6033;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.head__nav--li:hover:before, .head__nav--li:focus:before, .head__nav--li:active:before {
  left: 0;
  right: 0;
}
/*END hover effect*/
.head__nav--a{
	color: black;
	text-decoration-line: none;
}
.head-box{
  max-width: 1500px;
  margin: 0 auto;
}
.head__info{
	display: inline-block;
	width: 370px;
	margin:330px 0 100px 10%;
}
.head__info--h1{
	font-size: 60px;
	font-weight: 800;
  margin-bottom: 20px;
}
.span{
	font-size: 17px;
	font-weight: 300;
	line-height: 27px;
}
.button{
	background-color:  #ff6033;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
	width: 200px;
	height: 55px;
	color:  #ffffff;
	font-size: 20px;
	font-weight: 300;
	border:none;
  box-sizing: border-box;
}
.head__button{
  margin-top: 30px;
}

/*Hover Effect for button*/
@-webkit-keyframes button {
  50% {
    background-color: rgba(32, 152, 209, 0.75);
  }
}
@keyframes button {
  50% {
    background-color: rgba(32, 152, 209, 0.75);
  }
}
.button {
  display: block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.button:hover, .button:focus, .button:active {
  -webkit-animation-name: button;
  animation-name: button;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #2098D1;
  background-color: #2098d1;
  color: white;
}
/*END hover effect*/

.head__scroll{
	display: block;
	text-align: center;
	margin-top: 120px;
	cursor: pointer;
}
/*Hover Effect for Scroll*/
@-webkit-keyframes head__scroll {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes head__scroll {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes head__scroll-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes head__scroll-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.head__scroll {
  display: block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.head__scroll:hover, .head__scroll:focus, .head__scroll:active {
  -webkit-animation-name: head__scroll-float, head__scroll;
  animation-name: head__scroll-float, head__scroll;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
/*END hover effect*/


/* Main -- About*/
.about{
	height: 700px;
	width: 100%;
	background-color: #00c4c4;
}
.about-box{
  max-width: 1500px;
  margin: 0 auto;
}
.about__img{
	float: left;
	width: 45%;
	margin: 35px 10% 10px 5%;
}
.about__text{
	width: 35%;
	float: left;
	margin: 150px 5% 0 0;
	height: 500px;

}
.about__text--span{
  display: block;
	color:  #ffffff;
	padding: 5px 0 0;
}
.about__text--h1{
	color:  #ffffff;
	font-size: 90px;
	font-weight: 700;
	line-height: 27px;
}

/*Our Services*/
.services{
	height: 790px;
	width: 100%;
	background-color: #70bfff;
}
.services-box{
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
}
.services__ul{
	float: left;
	margin: 0 0 0 10%;
	padding: 150px 0 100px;

}
.services__ul--li{
	display: block;
	width: 400px;
	height: 100px;
	background-color: #fff;
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
	margin:20px;
	cursor: pointer;
}
/*Hover Effect*/
.services__ul--li{
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.services__ul--li:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: red;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.services__ul--li:hover:before, .services__ul--li:focus:before, .services__ul--li:active:before {
  left: 0;
  right: 0;
}
/*END hover effect*/
.services__ul--b{
	display: inline-block;
	box-sizing: border-box;
	width: 299px;
	height: 100%;
	font-size: 20px;
	text-align: center;
	padding: 40px;
}
#domestic{
	padding: 25px;
}

.services__icon{
	float: right;
	border-left: 1px solid #9d9d9d;
	padding:25px;
	width: 50px;
	height: 50px;
}
.services__our{
	float: right;
	height: 100%;
	width: 50%;
	background: url(..//img/tomato.png) 50% no-repeat;
	background-position: center;
}
.services__our>span{
	display: block;
	font-size: 90px;
	font-weight: 700;
	color: #fff;
	margin-top: 350px;
	text-align: center;
}
.gallery{
  width: 100%;
  height: 1516px;
  background-color: #ffe92f;
}
.gallery__h1{
  font-size: 90px;
  font-weight: 700;
  line-height: 27px;
  margin-top: 0;
  text-align: center;
  padding-top: 120px;
}
.gallery__span{
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 40%;
  max-width: 1200px;
}
.gallery__img{
  margin:10px auto;
  width: 1200px;
}
.gallery_1{
  float: left;
  width: 780px;
  margin:10px;
}
.gal23{
  width: 372px;
  margin:12px;
  margin-top: 12px;
}
.gallery_3{
  margin-top: 14px;
}
.gal45{
  width: 571px;
  margin:12px;
}
.gallery_4{
  margin-left: 15px;
}
.gallery__button{
  width: 200px;
  background-color:  #5585a2;
  margin:50px auto;
}

.img {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.img:hover, .img:focus, .img:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}



.subscribe{
  height: 500px;
  width: 100%;
  background: url(..//img/subscribe_bg.png) 50% no-repeat; 
}
.subscribe-box{
  max-width: 1500px;
  margin:0 auto;
}
.subscribe__blok{
  padding: 150px 200px;
}
.subscribe__h1{
  font-size: 40px;
  font-weight: 700;
  line-height: 27px;
  margin-top: 0;
}
.subscribe__span{
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
  display: block;
  width: 570px;
}
.subscribe__form--input{
  width: 570px;
  height: 55px;
  padding: 0 20px;
  box-sizing: border-box;
  background-color:  rgba(38, 38, 38, 0);
  border:1px solid #262626;
}
.subscribe__form--button{
  background-color:  #96b92c;
  width: 170px;
  margin-left: 40px;
  display: inline-block;
}
.blog{
  background-color: #b07cf7;
  height: 864px;
}
.blog__h1{
  color:  #ffffff;
  font-size: 90px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  display: block;
  padding: 150px 0 0;
}
.blog__span{
  color:  #ffffff;
  display: block;
  width: 50%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.blog__img{
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  height: 310px;
  margin: 50px auto;
}
.blog__img--item{
  position: relative;
  width: 31%;
  max-width: 370px;
  height: 100%;
  margin-right: 2%;
  display: inline-block;
  background-size: cover;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.blog__img--item:nth-child(1){
  background: url(..//img/blog_1.png) 100% no-repeat;
}
.blog__img--item:nth-child(2){
  background: url(..//img/blog_2.png) 100% no-repeat;
}
.blog__img--item:nth-child(3){
  margin-right: 0;
  background: url(..//img/blog_3.png) 100% no-repeat;
}
.blog__img--item:after{
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to top ,rgba(0,0,0,1),rgba(255,255,255,0));
}
.blog__img--date{
  margin: 30px;
}
.blog__img--h3{
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  margin: 70px 25px 20px 20px;
}
.blog__img--span{
  display: block;
  margin: 0 25px 20px 20px;
  color:  #ffffff;
  font-size: 13px;
  font-weight: 300;
  line-height: 25px;
}

.blog__button{
  width: 200px;
  background-color:  #f72b3b;
  margin:50px auto;
}
.contact{
  width: 100%;
  height:866px;
  background: url(..//img/contact_bg.png) 50% no-repeat;
  background-size: cover;
}
.contact__h1{
  font-size: 90px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  display: block;
  padding: 150px 0 0;
  margin-top: 0;
}
.contact__span{
  display: block;
  width: 30%;
  margin: 50px auto;
  text-align: center;
}
.contact-box{
  max-width: 1500px;
  margin: 0 auto;
}
.contact__form{
  width: 35%;
  height: 500px;
  padding: 0 10%;
  float: left;
}
 .contact__form--input{
  width: 100%;
  height: 50px;
  padding-left: 20px;
  margin: 0 0 20px 0;
  background-color: rgba(0, 196, 196, 0.5);
  border:none;
  color: #fff;
}
.contact__form--input:last-child{
  height: 250px;
  padding-top: 15px;
  resize: none;
}
/*Hover Effect for Input*/
.contact__form--input:hover{
  padding-left: 16px;
  border-left: 4px solid red;
}
.
 .contact__our{
  margin-left: calc(50% + 10px);
 }
 .contact__our--h2{
    font-size: 17px;
    font-weight: 700;
    line-height: 25px;
 }
 .contact__our--p{
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    display: block;
    margin: 0 0 20px;
 }
 .fooder{
  height: 70px;
  background-color: #262626;
  color: #fff;
 }
 .fooder-box{
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
 }
 .fooder__img{
  height: 27px;
 }
 .fooder__span{
    color:  #b9b9b9;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
 }
 .fooder__span:last-child{
    font-size: 15px;
 }
 .love{
  color: #ff2b58;
  font-weight: 700;
 }